In [6]:
import pandas as pd
data = {'Name': ['Jai', 'Princi', 'Sanav'],
       'Age': [17,18,17],
        'Marks': [90,76,'NaN']}
df = pd.DataFrame(data)
print(df)

     Name  Age Marks
0     Jai   17    90
1  Princi   18    76
2   Sanav   17   NaN

In [7]:
c = avg = 0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c += 1
        avg += ele
avg/=c
    
df = df.replace(to_replace="NaN",value=avg)
print(df)

     Name  Age  Marks
0     Jai   17   90.0
1  Princi   18   76.0
2   Sanav   17   83.0

In [8]:
df = df[df['Marks']>=75]
df = df.drop(['Age'],axis=1)
print(df)

     Name  Marks
0     Jai   90.0
1  Princi   76.0
2   Sanav   83.0

In [14]:
one = pd.DataFrame({
'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
"subject_id":['sub1', 'sub2', 'sub4', 'sub6', 'sub5'],
"Marks_scored":[198,90,87,69,78]},
index=[1,2,3,4,5])
two = pd.DataFrame({
'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
'subject_id':['sub2', 'sub4', 'sub3', 'sub6', 'sub5'],
"Marks_scored":[189,80,79,97,88]},
index= [1,2,3,4,5])

print( pd.concat([one,two]))

     Name subject_id  Marks_scored
1    Alex       sub1           198
2     Amy       sub2            90
3   Allen       sub4            87
4   Alice       sub6            69
5  Ayoung       sub5            78
1   Billy       sub2           189
2   Brian       sub4            80
3    Bran       sub3            79
4   Bryce       sub6            97
5   Betty       sub5            88