In [6]:
import pandas as pd
data1={"name":["sally","mary","john"],"age":[50,40,30]}
data2={"qualified":[True,False,False]}
df1=pd.DataFrame(data1)
print("original dataframe 1:\n",df1)
df2=pd.DataFrame(data2)
print("\n original dataframe 2:\n",df2)
newdf=df1.join(df2)
print("\n joining above 2 dataframes using join operation:\n",newdf)

original dataframe 1:
     name  age
0  sally   50
1   mary   40
2   john   30

 original dataframe 2:
    qualified
0       True
1      False
2      False

 joining above 2 dataframes using join operation:
     name  age  qualified
0  sally   50       True
1   mary   40      False
2   john   30      False

In [12]:
df1=pd.DataFrame([[1,2],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
     if(a.sum()>b.sum()):
        return a
     else:
        return b
print("\n original dataframe1:\n",df1)
print("\n original dataframe2:\n",df2)
print("\n combining above two dataframes using combine function with some condition:\n",df1.combine(df2,myfunc))
data1={"name":["sally","mary","john"],"age":[50,40,30]}
data2={"name":["sally","peter","micky"],"age":[77,44,22]}

df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print("\n original dataframe1:\n",df1)
print("\n original dataframe2:\n",df2)

 original dataframe1:
    0  1
0  1  2
1  3  4

 original dataframe2:
    0  1
0  5  6
1  7  8

 combining above two dataframes using combine function with some condition:
    0  1
0  5  6
1  7  8

 original dataframe1:
     name  age
0  sally   50
1   mary   40
2   john   30

 original dataframe2:
     name  age
0  sally   77
1  peter   44
2  micky   22

In [15]:
newdf=df1.merge(df2,how='right')
print("\n merge operation:\n",newdf)

 merge operation:
     name  age
0  sally   77
1  peter   44
2  micky   22

In [23]:
#create dataframe
df=pd.DataFrame({'team':['A','B','C','D'],'points':[88,91,99,94],'assists':[12,17,24,28],'rebounds':[22,28,30,31]})
#view dataframe
print("\n original dataframe:\n",df)
#reshape dataframe from wide format to long format
df=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
#view updated dataframe
print("\n reshaped dataframe:\n",df)

 original dataframe:
   team  points  assists  rebounds
0    A      88       12        22
1    B      91       17        28
2    C      99       24        30
3    D      94       28        31

 reshaped dataframe:
    team  variable  value
0     A    points     88
1     B    points     91
2     C    points     99
3     D    points     94
4     A   assists     12
5     B   assists     17
6     C   assists     24
7     D   assists     28
8     A  rebounds     22
9     B  rebounds     28
10    C  rebounds     30
11    D  rebounds     31